# MONGO CONNECTION
MONGO_URI=mongodb+srv://...

# AUTH SECRETS
JWT_SECRET=your_jwt_secret
PORT=8000
CLIENT_URL=http://localhost:5173

# EMAIL CONFIGURATION (SMTP GMAIL)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
EMAIL_FROM="Stocky <your_email@gmail.com>"
OTP_EXPIRY_MINUTES=5

# SECURITY
ENCRYPTION_KEY=your_32_char_encryption_key
TOTP_MASTER_SECRET=your_totp_secret
